<div class="ad">
  <style>
    .infeed {
      height: 100px;
    }
    @media (min-width: 350px) {
      .infeed {
        height: 150px;
      }
    }
    @media (min-width: 500px) {
      .infeed {
        height: 200px;
      }
    }
    @media (min-width: 800px) {
      .infeed {
        height: 250px;
      }
    }
  </style>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle infeed"
       style="display:block"
       data-ad-format="fluid"
       data-ad-layout-key="-6t+ed+2i-1n-4w"
       data-ad-client="ca-pub-2489951759872236"
       data-ad-slot="2127551921"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
