<div class="mainbox">
  <div class="row forward">
    <div
      class="col image"
      style="background-image:url({{ site.imagekiturl }}{{ site.images }}dotnet-700x350.jpg)"
    >
      <div class="grid-title">
        <h1>{{site.data.contentgrid[0].title}}</h1>
      </div>
    </div>
    <div class="col">
      <div class="grid-content">{{site.data.contentgrid[0].excerpt}}</div>
    </div>
  </div>
  <div class="row reverse">
    <div
      class="col image"
      style="background-image:url({{ site.imagekiturl }}{{ site.images }}website-design-700x350.jpg)"
    >
      <div class="grid-title">
        <h1>{{site.data.contentgrid[1].title}}</h1>
      </div>
    </div>
    <div class="col">
      <div class="grid-content">{{site.data.contentgrid[1].excerpt}}</div>
    </div>
  </div>
  <div class="row forward">
    <div
      class="col image"
      style="background-image:url({{ site.imagekiturl }}{{ site.images }}web-designer-700x350.jpg)"
    >
      <div class="grid-title">
        <h1>{{site.data.contentgrid[2].title}}</h1>
      </div>
    </div>
    <div class="col">
      <div class="grid-content">{{site.data.contentgrid[2].excerpt}}</div>
    </div>
  </div>
  <div class="row reverse">
    <div
      class="col image"
      style="background-image:url({{ site.imagekiturl }}{{ site.images }}writer-700x350.jpg)"
    >
      <div class="grid-title">
        <h1>{{site.data.contentgrid[3].title}}</h1>
      </div>
    </div>
    <div class="col">
      <div class="grid-content">{{site.data.contentgrid[3].excerpt}}</div>
    </div>
  </div>
  <div class="row forward">
    <div
      class="col image"
      style="background-image:url({{ site.imagekiturl }}{{ site.images }}editor-700x350.jpg)"
    >
      <div class="grid-title">
        <h1>{{site.data.contentgrid[4].title}}</h1>
      </div>
    </div>
    <div class="col">
      <div class="grid-content">{{site.data.contentgrid[4].excerpt}}</div>
    </div>
  </div>
</div>
