<header id="masthead-floating">
  <div class="inner-wrap">
    <nav role="navigation" class="top-menu">
      <ul class="menu-item">
        <li><a href="{{ site.url }}{{ site.data.navigation[1].url }}" class="item"><span>{{ site.data.navigation[1].title }}</span></a></li>
        <li><a href="{{ site.url }}/" class="site-title"><span class="first-letter">a</span>miTh <span class="first-letter">r</span>aravi</a></li>
        <li><a href="{{ site.url }}{{ site.data.navigation[2].url }}" class="item"><span>{{ site.data.navigation[2].title }}</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="div-20-high inner-wrap">
  </div>
  <div class="line-red inner-wrap">
  </div>
</header>
<header id="masthead">
  <div class="div-20-high inner-wrap">
  </div>
  <div class="line-red inner-wrap">
  </div>
</header>
