<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">amiTh raravi</a>
    <nav role="navigation" class="menu top-menu">
      <ul class="menu-item">
        <li class="home"><a href="/">{{ site.title }}</a></li>
        {%- for link in site.data.navigation %}
          {%- if link.url contains 'http' -%}
              {%- assign domain = '' -%}
              {%- else -%}
              {%- assign domain = site.url -%}
          {%- endif %}
        <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
        {%- endfor %}
      </ul>
    </nav>
  </div><!-- /.inner-wrap -->
  <div class="div-20-high inner-wrap">
  </div>
  <div class="line-red inner-wrap">
  </div>
</header><!-- /.masthead -->
