<div class="archive-wrap">
  <h4>You Might Also Like</h4>
  <ul class="th-grid">
  {% capture category_name %}{{ page.categories[1]] }}{% endcapture %}
  {% assign count = 1 %}
  {% for post in site.categories.[category_name] %}
    {% if count <= 4 and post.title != page.title %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
        <div>
          <img src="{{ site.url }}{{ site.images }}{{ post.teaser }}" alt="">
          <h6 itemprop="name">{{ post.title }}</h6>
        </div>
      </a></li>
      {% assign count = count | plus:1 %}
    {% endif %}
  {% endfor %}
  </ul>
</div><!-- /.archive-wrap -->
