<div class="div-20-high"></div>
<div class="div-20-high"></div>
<div class="line-red"></div>
<div class="main-latest-posts">
    <div class="row">
        <div class="title">
          <h1>Latest Posts</h1>
        </div>
    </div>
    <div class="row">
    {%- assign count = 1 -%}
    {%- for post in site.categories.articles -%}
      {%- if count <= 8 %}
          <div class="col col-latest-posts">
              <a href="{{ site.url }}{{ post.url }}">
                  <p class="post-teaser">
                    {%- if post.teaser %}
                    <img src="{{ site.url }}{{ site.images }}{{ post.teaser }}" alt="teaser">
                    {%- else %}
                    <img src="{{ site.url }}{{ site.images }}{{ site.teaser }}" alt="teaser">
                    {%- endif %}
                  </p>
                	<h2 class="post-category">{{ post.categories[1] }}</h2>
                  <h2 class="post-title">{{ post.title }}</h2>
                  <div class="div-10-high"></div>
              </a>
          </div>
          {%- assign count = count | plus:1 %}
      {%- endif -%}
    {%- endfor -%}
    </div>
</div>

<div class="div-20-high"></div>
<div class="div-20-high"></div>
<div class="line-red"></div>
<div class="main-latest-posts">
    <div class="row">
        <div class="title">
          <h1>Portfolio</h1>
        </div>
    </div>
    <div class="row">
    {%- for post in site.categories.portfolio %}
          <div class="col col-portfolio">
              <a href="{{ site.url }}{{ post.url }}">
                <p class="post-teaser">
                  {%- if post.teaser %}
                  <img src="{{ site.url }}{{ site.images }}{{ post.teaser }}" alt="teaser">
                  {%- else %}
                  <img src="{{ site.url }}{{ site.images }}{{ site.teaser }}" alt="teaser">
                  {%- endif %}
                </p>
                <h2 class="post-category">{{ post.categories[0] }}</h2>
                <h2 class="post-title">{{ post.title }}</h2>
                <div class="div-10-high"></div>
              </a>
          </div>
    {%- endfor %}
    </div>
</div>
