/* ==========================================================================
   About Grid
   ========================================================================== */

   /* Create two equal columns that floats next to each other */
   .twocolumn {
       float: left;
       width: 50%;
       padding: 10px;
   }

   /* Create three equal columns that floats next to each other */
   .threecolumn {
       float: left;
       width: 33%;
       padding: 10px;
   }

   /* Create four equal columns that floats next to each other */
   .fourcolumn {
       float: left;
       width: 25%;
       padding: 10px;
   }

   /* Clear floats after the columns */
   .gridrow:after {
       content: "";
       display: block;
       clear: both;
   }

   /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
   @media screen and (max-width: 600px) {
      .twocolumn {
          width: 100%;
      }
      .threecolumn {
          width: 100%;
      }
      .fourcolumn {
          width: 100%;
      }
   }

   @media screen and (max-width: 900px) and (min-width: 601px) {
      .threecolumn {
          width: 50%;
      }
      .fourcolumn {
          width: 50%;
      }
   }

   .article-date {
     p {
       @include font-size(14,no);
       font-family: $alt-font;
       color: lighten($black,60);
     }
   }
