/* ==========================================================================
   About Flex Grid
   ========================================================================== */

   .mainbox {
       //border: 1px solid #000;  /* For debugging */
       display: flex;
       flex-direction: column;
       .row {
         display: flex;
         align-items: stretch;
         flex-wrap: wrap;
         .col {
             flex: 50%;
             max-width: 50%;
             display: flex;
             justify-content: center;
             align-items: center;

             .grid-title {
                  padding: 1em;
                 	@include media($medium) {
                 		padding: 2em;
                 	}
                 	@include media($large) {
                 		padding: 3em;
                 	}
                 	h1 {
                 		@include font-size(48);
                 		@include media($medium) {
                 			@include font-size(60);
                 		}
                 		@include media($large) {
                 			@include font-size(60);
                 		}
                 	}
             }
             .grid-content {
                   padding-left: 15px;
                   padding-right: 30px;
                   padding-top: 30px;
                   padding-bottom: 30px;
                 	 li {
                 		  color: lighten($text-color,17);
                 		   @include font-size(18);
                 		   @include media($medium) {
                 			     @include font-size(20);
                 	     }
                 	     @include media($large) {
                          @include font-size(20);
                 	     }
                 	 }
             }
         }
         /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
         @media screen and (max-width: 800px) {
            .col {
              flex: 100%;
              max-width: 100%;
            }
          }
         .image {
             text-align: center;
           	 color: $white;
           	 text-shadow: 1px 1px $text-color;
           	 background-size: 100% 100%;
         }
       }
       .forward {
         flex-direction: row;
       }
       .reverse {
         flex-direction: row-reverse;
       }
   }

   .main-latest-posts {
       display: flex;
       flex-direction: column;
       padding: 0 8px;
       .row {
           display: flex;
           flex-wrap: wrap;
           flex-direction: row;
           padding: 0 8px;
           .col {
               display: flex;
               //flex: 50%;
               //max-width: 50%;
               padding: 0 8px;

               a {
                 width: 100%;
               }

               .image {
                   width: 100%;
                   margin-top: 16px;
                   height: 250px;
                   text-align: left;
                 	 color: $white;
                 	 text-shadow: 1px 1px $text-color;
                 	 background-size: 100% 100%;
                   &:hover {
                     .post-title {
                       color: $cg-red;
                       .line-red {
                         background-color: $white;
                       }
                     }
                     &:after {
                           background: rgba($base-color,0.25);
                       }
                   }
                   .post-title {
                       padding-left: 20px;
                       padding-right: 20px;
                       padding-top: 10px;
                       color: $white;
                       p {
                           text-transform: uppercase;
                           @include font-size(16);
                           @include media($medium) {
                              @include font-size(18);
                           }
                           @include media($large) {
                              @include font-size(18);
                           }
                       }
                       h1 {
                           @include font-size(20);
                           @include media($medium) {
                              @include font-size(24);
                           }
                           @include media($large) {
                              @include font-size(24);
                           }
                       }
                       .line-red {
                         height: 4px;
                         width: 100px;
                         background-color: $red;
                       }
                   }
               }
           }
           .col-latest-posts {
             flex: 50%;
             max-width: 50%;
           }
           .col-portfolio {
             flex: 25%;
             max-width: 25%;
           }
           @media screen and (max-width: 600px) {
              .col-latest-posts {
                flex: 100%;
                max-width: 100%;
              }
           }
           @media screen and (max-width: 900px) {
              .col-portfolio {
                flex: 50%;
                max-width: 50%;
              }
           }
           @media screen and (max-width: 450px) {
              .col-portfolio {
                flex: 100%;
                max-width: 100%;
              }
           }
           .title {
              display: flex;
              flex: 100%;
              max-width: 100%;
              justify-content: center;
              h1 {
                 @include font-size(30);
                   @include media($medium) {
                      @include font-size(36);
                   }
                   @include media($large) {
                      @include font-size(36);
                   }
               }
           }
       }
   }

   .main-about-me {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       align-items: center;

       .col {
           display: flex;
           flex-direction: column;
           align-items: center;
           flex: 33%;
           max-width: 33%;

           .bio-pic {
               border-radius: 50%;
           }
           .sayhi {
               @include font-size(20,no);
               font-family: $hi-font;
               color: $cg-red;
           }
           .text {
               text-align: center;
               a {
                 @include font-size(16,no);
                 text-decoration: none;
               }
           }
       }
       @media screen and (max-width: 800px) {
          .col {
            flex: 100%;
            max-width: 100%;
          }
       }
   }

/* ==========================================================================
   Share This buttons
   ========================================================================== */

   .sharethis {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      //align-content: stretch;
      //flex: 100%;
      //max-width: 100%;
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 33%;
        max-width: 33%;
      }
      @media screen and (max-width: 600px) {
         .col {
           flex: 100%;
           max-width: 100%;
         }
      }
   }
