/* ==========================================================================
   About Grid
   ========================================================================== */

   /* Create two equal columns that floats next to each other */
   .twocolumn {
       float: left;
       width: 50%;
       padding: 10px;
   }

   /* Create three equal columns that floats next to each other */
   .threecolumn {
       float: left;
       width: 33%;
       padding: 10px;
   }

   /* Create four equal columns that floats next to each other */
   .fourcolumn {
       float: left;
       width: 25%;
       padding: 10px;
   }

   /* Clear floats after the columns */
   .gridrow:after {
       content: "";
       display: table;
       clear: both;
   }

   /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
   @media screen and (max-width: 600px) {
      .twocolumn {
          width: 100%;
      }
      .threecolumn {
          width: 100%;
      }
      .fourcolumn {
          width: 100%;
      }
   }

   /* Main bar & Side bar */
   .mainbar {
       float: left;
       width: 75%;
       padding-top: 40px;
   }
   .sidebar {
       float: left;
       width: 25%;
       padding: 10px;
   }

   .article-date {
     p {
       @include font-size(14,no);
       font-family: $alt-font;
       color: lighten($black,60);
     }
   }

   .sidebar {
     .bio-pic {
       border-radius: 50%;
     }
     .sayhi {
       font: $hi-font;
       color: $cg-red;
     }
     .text {
       text-align: center;
     }
   }

   /* Sidebar - Latest Posts */
   .sidebartile {
     width: 100%;
     &:hover {
       .post-title {
         color: $cg-red;
       }
       .post-teaser {
         &:after {
             background: rgba($base-color,0.25);
         }
       }
     }
     a {
       text-decoration: none;
     }
     .entry-date {
       @include font-size(12,no);
       color: lighten($text-color,25);
       text-decoration: none;
     }
     .post-title {
       @include font-size(20,no);
       color: $text-color;
       text-decoration: none;
     }
     .post-excerpt {
       @include font-size(15);
       color: $text-color;
       text-decoration: none;
     }
     .post-teaser {
       position: relative;
       display: block;
       &:after {
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background: rgba($base-color,0);
         pointer-events: none;
         @include transition(background 0.3s);
       }
     }
   }

   /* Header & Footer Lines */
   .header-line {
     height: 20px;
     width: 100%;
   }
   .footer-line {
     height: 10px;
     width: 100%;
   }
   .header-line-red {
     height: 7px;
     width: 100%;
     background-color: $red;
   }
   .site-title-padding {
     width: 2000px;
   }
