/* ==========================================================================
   About Grid
   ========================================================================== */

   /* Create two equal columns that floats next to each other */
   /*.twocolumn {
       float: left;
       width: 100%;
       @include media($small) {
         width: 50%;
       }
       padding: 10px;
   }*/

   /* Clear floats after the columns */
   .gridrow:after {
       content: "";
       display: block;
       clear: both;
   }
