/* ==========================================================================
   Breadcrumb navigation
   ========================================================================== */

.breadcrumbs {
  @include row;
  margin-top: $gutter;
  @include font-size(16,no);
  @include media($small) {
    padding-bottom: 30px;
  }
  a {
    display: inline-block;
    font-family: $quoted-text-font;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }
}
