/* ==========================================================================
   Tiles
   ========================================================================== */

   .articles-tiles {
       //border: 1px solid black;  /* For debugging */
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       .col {
          display: flex;
          flex-direction: column;
          flex: 25%;
          max-width: 25%;
          padding: 0 8px;
          .ad {
            height: 400px; // 481px to 600px
            width: 400px;
            .infeed {
              height: 400px; // 481px to 600px
              width: 400px;
            }
            @media screen and (max-width: 360px) {
              .infeed {
                height: 250px;
                width: 260px;
              }
            }
            @media screen and (min-width: 361px) and (max-width: 420px) {
              .infeed {
                height: 300px;
                width: 300px;
              }
            }
            @media screen and (min-width: 421px) and (max-width: 480px) {
              .infeed {
                height: 350px;
                width: 350px;
              }
            }
            @media screen and (min-width: 601px) and (max-width: 650px) {
              .infeed {
                height: 300px;
                width: 250px;
              }
            }
            @media screen and (min-width: 651px) and (max-width: 700px) {
              .infeed {
                height: 300px;
                width: 270px;
              }
            }
            @media screen and (min-width: 701px) and (max-width: 750px) {
              .infeed {
                height: 300px;
                width: 300px;
              }
            }
            @media screen and (min-width: 751px) and (max-width: 800px) {
              .infeed {
                height: 300px;
                width: 320px;
              }
            }
            @media screen and (min-width: 801px) and (max-width: 900px) {
              .infeed {
                height: 320px;
                width: 350px;
              }
            }
            @media screen and (min-width: 901px) and (max-width: 1000px) {
              .infeed {
                height: 320px;
                width: 260px;
              }
            }
            @media screen and (min-width: 1001px) and (max-width: 1060px) {
              .infeed {
                height: 320px;
                width: 290px;
              }
            }
            @media screen and (min-width: 1061px) and (max-width: 1120px) {
              .infeed {
                height: 320px;
                width: 310px;
              }
            }
            @media screen and (min-width: 1121px) {
              .infeed {
                height: 320px;
                width: 255px;
              }
            }
          }
          .ad:after {
              content: '';
              display: block;
              clear: both;
          }
          @media screen and (max-width: 360px) {
            .ad {
              height: 250px;
              width: 260px;
            }
          }
          @media screen and (min-width: 361px) and (max-width: 420px) {
            .ad {
              height: 300px;
              width: 300px;
            }
          }
          @media screen and (min-width: 421px) and (max-width: 480px) {
            .ad {
              height: 350px;
              width: 350px;
            }
          }
          @media screen and (min-width: 601px) and (max-width: 650px) {
            .ad {
              height: 300px;
              width: 250px;
            }
          }
          @media screen and (min-width: 651px) and (max-width: 700px) {
            .ad {
              height: 300px;
              width: 270px;
            }
          }
          @media screen and (min-width: 701px) and (max-width: 750px) {
            .ad {
              height: 300px;
              width: 300px;
            }
          }
          @media screen and (min-width: 751px) and (max-width: 800px) {
            .ad {
              height: 300px;
              width: 320px;
            }
          }
          @media screen and (min-width: 801px) and (max-width: 900px) {
            .ad {
              height: 320px;
              width: 350px;
            }
          }
          @media screen and (min-width: 901px) and (max-width: 1000px) {
            .ad {
              height: 320px;
              width: 260px;
            }
          }
          @media screen and (min-width: 1001px) and (max-width: 1060px) {
            .ad {
              height: 320px;
              width: 290px;
            }
          }
          @media screen and (min-width: 1061px) and (max-width: 1120px) {
            .ad {
              height: 320px;
              width: 310px;
            }
          }
          @media screen and (min-width: 1121px) {
            .ad {
              height: 320px;
              width: 255px;
            }
          }
          .article-tile {
            display: flex;
            flex-direction: column;
            width: 100%;

            &:hover {
              .post-title {
                color: $cg-red;
              }
              .post-teaser {
                &:after {
                    background: rgba($base-color,0.25);
                }
              }
            }
            .post-teaser {
              margin-bottom: 0px;
              width: 100%;
              position: relative;
              display: block;
              &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba($base-color,0);
                pointer-events: none;
                @include transition(background 0.3s);
              }
            }
            .entry-date {
              margin-top: 10px;
              @include font-size(12,no);
              color: lighten($text-color,25);
            }
            .post-title {
              margin-top: 4px;
              @include font-size(20,no);
              color: $text-color;
            }
            .post-excerpt {
              margin-top: 10px;
              @include font-size(14);
              color: $text-color;
            }
          }
       }
       @media screen and (max-width: 600px) {
          .col {
            flex: 100%;
            max-width: 100%;
          }
       }
       @media screen and (min-width: 601px) and (max-width: 900px) {
          .col {
            flex: 49%; // There is a side-effect to figure out here!! This should ideally be 50%. But right now, 50% will not display items in 2nd column properly.
            max-width: 49%;
          }
       }
       @media screen and (min-width: 901px) and (max-width: 1120px) {
          .col {
            flex: 33%;
            max-width: 33%;
          }
       }
   }

   /* ==========================================================================
      Isotope
      ========================================================================== */

   /* ---- button ---- */

  .new-button{
    background: $white;
    //background: #e5e5e5;
    //background: #ffeded;
    color:$cg-red;
    border:none;
    position:relative;
    height:40px;
    font-size:1.1em;
    padding:0 1em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .new-button:before,.new-button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width: 100%;
    background: $cg-red;
    transition:200ms ease all;
  }
  .new-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .new-button:hover {
    background: #ffeded;
    transition:400ms ease all;
  }
  .new-button:hover:before,.new-button:hover:after{
    height: 3px;
    transition:400ms ease all;
  }

  .new-button:active,
  .new-button.is-checked {
    background-color: $cg-red;
    text-decoration: none;
  }

  .new-button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.4);
  }

  .new-button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
  }

  .new-button-group {
    display: inline-block;
    padding-top   : 10px;
    padding-bottom: 20px;
  }

  .new-button-group:after {
    content: '';
    display: block;
    clear: both;
  }
