/* ==========================================================================
   Tiles
   ========================================================================== */

   .articles-tiles {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       .col {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 25%;
          max-width: 25%;
          padding: 0 8px;
          .article-tile {
            display: flex;
            flex-direction: column;
            width: 100%;

            &:hover {
              .post-title {
                color: $cg-red;
              }
              .post-teaser {
                &:after {
                    background: rgba($base-color,0.25);
                }
              }
            }
            .post-teaser {
              margin-bottom: 0px;
              width: 100%;
              position: relative;
              display: block;
              &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba($base-color,0);
                pointer-events: none;
                @include transition(background 0.3s);
              }
            }
            .entry-date {
              margin-top: 10px;
              @include font-size(12,no);
              color: lighten($text-color,25);
            }
            .post-title {
              margin-top: 4px;
              @include font-size(20,no);
              color: $text-color;
            }
            .post-excerpt {
              margin-top: 10px;
              @include font-size(14);
              color: $text-color;
            }
          }
       }
       @media screen and (max-width: 600px) {
          .col {
            flex: 100%;
            max-width: 100%;
          }
       }
       @media screen and (min-width: 601px) and (max-width: 800px) {
          .col {
            flex: 50%;
            max-width: 50%;
          }
       }
       @media screen and (min-width: 801px) and (max-width: 1000px) {
          .col {
            flex: 33%;
            max-width: 33%;
          }
       }
   }

   /* ==========================================================================
      Isotope
      ========================================================================== */

   /* ---- button ---- */

  .new-button{
    background: $white;
    //background: #e5e5e5;
    //background: #ffeded;
    color:$cg-red;
    border:none;
    position:relative;
    height:40px;
    font-size:1.1em;
    padding:0 1em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-right: 10px;
  }
  .new-button:before,.new-button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width: 100%;
    background: $cg-red;
    transition:200ms ease all;
  }
  .new-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .new-button:hover {
    background: #ffeded;
    transition:400ms ease all;
  }
  .new-button:hover:before,.new-button:hover:after{
    height: 3px;
    transition:400ms ease all;
  }

  .new-button:active,
  .new-button.is-checked {
    background-color: $cg-red;
    text-decoration: none;
  }

  .new-button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.4);
  }

  .new-button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
  }

  .new-button-group {
    display: inline-block;
    padding-top   : 10px;
    padding-bottom: 40px;
  }


   /* ==========================================================================
      Tiles - Old
      ========================================================================== */

    .tile {
      @include outer-container;
      margin-bottom: $gutter;
      @include media($micro) {
        @include fill-parent;
      }
      @include media(new-breakpoint(min-width em(480) 12)) {
        @include span-columns(3);
        @include omega(4n);
      }
      &:hover {
        .post-title {
          color: $cg-red;
        }
        .post-teaser {
          &:after {
              background: rgba($base-color,0.25);
          }
        }
      }
      .entry-date {
        @include font-size(12,no);
        color: lighten($text-color,25);
      }
      .post-title {
        @include font-size(20,no);
        color: $text-color;
      }
      .post-excerpt {
        @include font-size(15);
        color: $text-color;
      }
      .post-teaser {
        position: relative;
        display: block;
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba($base-color,0);
          pointer-events: none;
          @include transition(background 0.3s);
        }
      }
    }

    @media screen and (max-width: 600px) {
       .tile {
           width: 100%;
       }
    }

    @media screen and (min-width: 601px) and (max-width: 800px) {
       .tile {
           width: 45%;
       }
    }


    @media screen and (min-width: 801px) and (max-width: 1000px) {
       .tile {
           width: 30%;
       }
    }
