---
layout: default
---
<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% include breadcrumbs.html %}
		<!--
		-->
		<div class="gridrow">
				<div class="mainbar">
						<div class="inner-wrap">
								<div class="line-red"></div>
								<div class="page-title">
									<h1>{{ page.title }}</h1>
								</div>
								<div class="article-date">
									{% include page-meta-top.html %}
								</div>
								<div class="div-20-high"></div>
								<div class="line-red"></div>
								<div id="content" class="page-content" itemprop="articleBody">
									{{ content }}
									<div class="div-20-high"></div>
									<div class="div-20-high"></div>
									<div class="line-red"></div>
									<div class="div-20-high"></div>
									<footer class="page-footer">
										{% if page.categories %}{% include page-author.html %}{% endif %}
										{% if page.share != false %}{% include share-this.html %}{% endif %}
									</footer><!-- /.footer -->
									<div class="line-red"></div>
									<div class="div-20-high"></div>
									<div class="div-10-high"></div>
									<aside>
										{% include post-comments.html %}
									</aside>
								</div><!-- /.content -->
						</div><!-- /.inner-wrap -->
				</div> <!-- mainbar -->
				{% include sidebar.html %}
		</div> <!-- gridrow -->
		<!--
		-->
	</article><!-- ./wrap -->
</div><!-- /#main -->
